<link rel="stylesheet" href="./Templates/Modals/Modals.css">
<script src="./Templates/Modals/Contact.js"></script>
<script src="./Templates/Header.js"></script>

<div class="col-md-12">
    <div class="container">
        <div class="modalcss" id="openservermodel" style="display: none;">
            <div class="modal-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="colsebtn">
                            <button class="btnstyle" onclick="closeserverdiv()">&times;</button>
                        </div>

                    </div>
                </div>
                <div class="header-model new">
                    <div class="header-title">
                        <div class="messhow">
                            <div class="error-text1"></div>
                        </div>
                        <div class="headertitle">
                            <h4> Start a Project</h4>
                        </div>

                        <form action="" method="POST" enctype="multipart/form-data" id="resetconn">
                            <div class="quform-spacer">
                                <div class="inputstyle">
                                    <input type="text" placeholder="Your Company name" name="comname"
                                        class="input-style" id="projecttextfield">
                                </div>
                            </div>
                            <div class="quform-spacer">
                                <div class="inputstyle">
                                    <input type="text" placeholder="Your Company E-mail Address" name="comemail"
                                        class="input-style" id="projectmailfield">
                                </div>
                            </div>
                            <div class="quform-spacer">
                                <div class="inputstyle">
                                    <input type="number" placeholder="Your Company Mobile number" name="comnumber"
                                        class="input-style" id="projectmobilefield">
                                </div>
                            </div>
                            <div class="quform-spacer">
                                <div class="inputstyle">
                                    <select name="droproject">
                                        <option value="" selected disabled hidden>Project Requirements</option>
                                        <option value="Hire remote developers"> Hire remote developers</option>
                                        <option value="Dedicated monitoring team for exciting software"> Dedicated monitoring team for exciting software</option>
                                        <option value="Data entry & admin services"> Data enter & admin services</option>
                                        <option value="Consulting services">Consulting services</option>
                                    </select>
                                </div>
                            </div>
                            <div class="sumbit">
                                <input class="btnstyle" type="button" name="ContactSubmit" value="Sumbit"
                                    onclick="FunStart()">
                            </div>
                        </form>

                    </div>
                </div>
                <div id="toast">
                    <div id="img"> </div>
                    <div id="desc">Thanks of Contacting Us! We will be in touch as soon as possible</div>
                </div>
            </div>
        </div>
    </div>
</div>