<link rel="stylesheet" href="./Templates/Modals/Modals.css">
<script src="./Templates/Modals/Inquiry.js"></script>
<script src="./Templates/Header.js"></script>

<div class="flip-card-3D-wrapper" id="openmodel" style="display: none;">
    <div id="flip-card">

        <div class="col-md-12 flip-card-front">
            <div class="container">
                <div class="modalcss">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col-md-12">                            
                                <div class="colsebtn">
                                    <button class="btnstyle" onclick="closediv()">&times;</button>
                                </div>

                            </div>
                        </div>
                        <div class="header-model">
                            <div class="header-title">
                                <div class="messhow">
                                    <div class="error-text"></div>
                                </div>
                                <div class="headertitle">
                                    <h4>Get in touCH with us</h4>
                                </div>

                                <form action="" method="POST" enctype="multipart/form-data" id="resetdata">
                               
                                    <div class="quform-spacer">
                                        <div class="inputstyle">
                                            <input type="text" name="username" placeholder="Your Full Name"
                                                class="input-style" id="usertextfield" required>
                                        </div>
                                        <!-- <p class="alertText" id="textuser">Please Enter Your Full Name</p> -->
                                    </div>
                                    <div class="quform-spacer">
                                        <div class="inputstyle">
                                            <input type="text" name="usermail" placeholder="Your E-mail Address"
                                                class="input-style" id="usermailfield" required>
                                        </div>
                                        <!-- <p class="alertText" id="mailuser">Please Enter Your E-mail Address</p> -->
                                    </div>
                                    <div class="quform-spacer">
                                        <div class="inputstyle">
                                            <input type="number" name="usermobile" placeholder="Your Mobile Number"
                                                class="input-style" id="usermobilefield" required>
                                        </div>
                                        <!-- <p class="alertText" id="mobileuser">Please Enter Your Mobile Number</p> -->
                                    </div>
                                    <div class="quform-spacer">
                                        <div class="inputstyle">
                                            <textarea class="input-style" name="usermessage" placeholder="Message"
                                                id="usermesfield" required></textarea>
                                        </div>
                                        <!-- <p class="alertText" id="messuser">Please Enter Message</p> -->
                                    </div>
                                    <div class="sumbit">
                                        <input class="btnstyle" type="button" name="" value="Sumbit"
                                            id="flip-card-btn-turn-to-back">
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="flip-card-back">
            <div class='upper-side'>
                <h3 class='status'>
                    Submitted Successfully!
                </h3>
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                <svg version="1.1" class="checkmark" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" xml:space="preserve">
                    <path d="M131.583,92.152l-0.026-0.041c-0.713-1.118-2.197-1.447-3.316-0.734l-31.782,20.257l-4.74-12.65
                      c-0.483-1.29-1.882-1.958-3.124-1.493l-0.045,0.017c-1.242,0.465-1.857,1.888-1.374,3.178l5.763,15.382
                      c0.131,0.351,0.334,0.65,0.579,0.898c0.028,0.029,0.06,0.052,0.089,0.08c0.08,0.073,0.159,0.147,0.246,0.209
                      c0.071,0.051,0.147,0.091,0.222,0.133c0.058,0.033,0.115,0.069,0.175,0.097c0.081,0.037,0.165,0.063,0.249,0.091
                      c0.065,0.022,0.128,0.047,0.195,0.063c0.079,0.019,0.159,0.026,0.239,0.037c0.074,0.01,0.147,0.024,0.221,0.027
                      c0.097,0.004,0.194-0.006,0.292-0.014c0.055-0.005,0.109-0.003,0.163-0.012c0.323-0.048,0.641-0.16,0.933-0.346l34.305-21.865
                      C131.967,94.755,132.296,93.271,131.583,92.152z" />
                    <circle fill="none" stroke="#ffffff" stroke-width="5" stroke-miterlimit="10" cx="109.486"
                        cy="104.353" r="32.53" />
                </svg>
              
            </div>
            <div class='lower-side'>
                <p class='message'>
                    Thanks of Contacting Us! We will be in touch as soon as possible.
                </p>
                <div id="flip-card-btn-turn-to-front" class="btnstyle"  onclick="changeflip()">Continue</div>
            </div>
        </div>

    </div>
</div>
