<!-- MODEL OF LOGIN -->
<link rel="stylesheet" href="./Templates/Modals/Modals.css">
<script src="./Templates/Modals/Loginmodel.js"></script>
<script src="./Templates/Header.js"></script>

<div class="col-md-12">
    <div class="container">
        <div class="modalcss" id="openloginmodel" style="display: none;">
            <div class="modal-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="colsebtn">
                            <button id="adduserclose" class="btnstyle" onclick="closelogindiv()">&times;</button>
                        </div>

                    </div>
                </div>
                <div class="header-model lognew">
                    <div class="header-title">
                        <div class="messhow">
                            <div class="error-text2"></div>
                        </div>
                        <div class="headertitle">
                            <h4> Administrative Login</h4>
                        </div>

                        <form action="" method="POST" id="resetourdata" enctype="multipart/form-data">
                            <div class="quform-spacer">
                                <div class="inputstyle">
                                    <input type="text" placeholder="Enter Your Username" name="logname"
                                        class="input-style">
                                </div>
                                <!-- <p class="alertText" id="textuser">Please Enter Your Full Name</p> -->
                            </div>
                            <div class="quform-spacer">
                                <div class="inputstyle">
                                    <input type="text" placeholder="Enter Your Password" name="logpass"
                                        class="input-style">
                                </div>
                                <!-- <p class="alertText" id="mailuser">Please Enter Your E-mail Address</p> -->
                            </div>
                            <div class="sumbit">
                                <input class="btnstyle" type="button" name="" value="Log In" onclick="loginifor()">
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End MODEL OF LOGIN -->