<div class="container">
   <div class="mainheading">
      <h2> Start A Projects</h2>
   </div>
   <div class="home-about">

      <div class="image">
         <img src="./assets/img/background/contactus.jpg" alt="" class="w-full max-w-full">
      </div>
      <div class="content" style='padding:3rem;background:#f6f4f6'>
         <div class="messhow">
            <div class="error-text1"> </div>
         </div>
         <form action="" method="POST" enctype="multipart/form-data" id="resetconn">
            <div class="row">
               <h4>Let’s Discuss You</h4>
               <div class="input-group input-group-icon">
                  <input type="text" placeholder="Your Company name" name="comname" id="projecttextfield">
                  <div class="input-icon"><i class="fa fa-user"></i></div>
               </div>
               <div class="input-group input-group-icon">
                  <input type="text" placeholder="Your Company E-mail Address" name="comemail" id="projectmailfield">
                  <div class="input-icon"><i class="fa fa-envelope"></i></div>
               </div>
               <div class="input-group input-group-icon">
                  <input type="number" placeholder="Your Company Mobile number" name="comnumber"
                     id="projectmobilefield">
                  <div class="input-icon"><i class="fa-solid fa-phone"></i></div>
               </div>
               <div class="input-group input-group-icon">
                  <select name="droproject">
                     <option value="" selected="" disabled="" hidden="">Project Requirements</option>
                     <option value="Hire remote developers"> Hire remote developers</option>
                     <option value="Dedicated monitoring team for exciting software"> Dedicated monitoring team for
                        exciting software</option>
                     <option value="Data entry &amp; admin services"> Data enter &amp; admin services</option>
                     <option value="Consulting services">Consulting services</option>
                  </select>
               </div>
            </div>

            <div class="row">
               <div class="input-group about-content">
                  <div class="about-btn">
                     <input class="learn-btn" type="button" name="ContactSubmit" value="Sumbit" onclick="FunStart()">
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>

</div>
<script>
   function FunStart() {
      console.log('hii');
      var errortxt = document.querySelector('.error-text1');

      var form = document.querySelector('.content form')
      let xhr = new XMLHttpRequest();
      xhr.open('POST', "./php/Contact.php", true);
      xhr.onload = () => {
         if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status == 200) {
               let data = xhr.response;
               if (data == "Your Information is Successfully added.") {
                  document.getElementById('resetconn').reset();
                  errortxt.textContent = "Your Information is Successfully added.";
               }
               else {
                  errortxt.textContent = data;
                  errortxt.style.display = 'block';
               }
            }
         }
      }

      let fromcondata = new FormData(form);
      xhr.send(fromcondata);
   }
</script>