<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="./Templates/Header.js"></script>
<header id="headertop">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
    
                <div class="header">
                    <div class="menucard">
                        <a href="index.php">
                            <div class="bigtime" id="bigtime"> </div>
                           
    
                        </a>
                        <div><i style="font-size:24px" class="fa" onclick="menulist()">&#xf0c9;</i></div>
    
                    </div>
                    <div class="header-right">
                        <div>     <a href="about.php">About</a></div>
                   <div>   <a href="#tech">Services</a></div>
                     <div>           <a href="#"> <span class="nav-link" onclick="opendiv()">Contact</span></a></div>
             
                        <div><a href="#"> <span class="nav-link" onclick="openserverdiv()">Start a Project</span></a></div>
                        <div onclick="logindiv()">
                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                            Log In 
                        </div>
                    </div>
                </div>
    
    
            </div>
        </div>
    </div>
</header>